#svard-mail-compose {
    &-body {
        height: 300px;
        padding: 0 5px 0 5px;
        overflow: auto;
    }

    &-send {
        margin: 20px 0;
    }
}

.svard-mail-compose {
    margin-top: 3.3em;
}