@import "__mixins.less";

.svard-mail-contact {
    border: 1px solid;
    margin: 1em 1em;
    .border-radius(3px);

    &-photo {
        text-align: center;
        font-size: 4em;
        margin-top: .5em;
    }

    &-info {
        padding-right: 15px;
    }

    &-action {
        i {
            cursor: pointer;
        }

        a {
            cursor: pointer;
        }
    }
}