@import "__mixins.less";

.svard-mail-contact {
    border: 1px solid;
    margin: 1em 1em;
    .border-radius(3px);

    &-icon {
        text-align: center;
        font-size: 4em;
        margin-top: .5em;
    }

    &-saved {
        margin-top: 0.6em;
        text-align: center;

        &-visible {
            opacity: 1;
        }

        &-invisible {
            opacity: 0;
            transition: opacity 2s ease;
        }
    }

    &-info {
        padding-right: 15px;
    }

    &-action {
        i {
            cursor: pointer;
        }

        a {
            cursor: pointer;
        }
    }
}