@media (max-width: 649px) {
    body {
        font-size: 60%;
    }

    .ink-form input[type="text"] {
        font-size: 100%;
        padding: 4px 4px;
    }

    .ink-button {
        font-size: 100%;
        padding: 3.5px 8px;
    }
}

@media (min-width: 650px) and (max-width: 959px) {
    body {
        font-size: 80%;
    }

    .ink-form input[type="text"] {
        font-size: 100%;
        padding: 6px 6px;
    }

    .ink-button {
        font-size: 100%;
        padding: 5.5px 10px;
    }
}

.nav-background {
    background: -moz-linear-gradient(top, #1a1a1a 0%, #0d0d0d 150%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(150%, #0d0d0d));
    background: -webkit-linear-gradient(top, #1a1a1a 0%, #0d0d0d 150%);
    background: linear-gradient(to bottom, #1a1a1a 0%, #0d0d0d 150%);
}

.unstyled-button (@color: #bbbbbb) {
    background: none;
    border: none;
    color: @color;
    outline: none;
}

.icon-click (@transX: 1px, @transY: 1px) {
    -webkit-transform: translate(@transX,@transY);
    -moz-transform: translate(@transX,@transY);
    transform: translate(@transX,@transY);
}

#svard-mail {

    &-topbar {
        .nav-background;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        .ink-navigation ul li button {
            .unstyled-button;
            padding: 8px 0 8px 0;
        }
    }

    &-footer {
        .nav-background;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
}

.svard-mail {

    &-content {
        margin-top: 2.9em;
    }

    &-unseen {
        font-weight: bold;
        background-color: #eeeeee;
    }

    &-footer-text {
        padding-top: 12px;
        padding-bottom: 13px;

        span {
            color: #ffffff;
            font-style: italic;
            font-size: 10px;
        }
    }

    &-table table {
        margin-top: 0;

        thead tr th button {
            .unstyled-button(#000000);

            &:active {
                .icon-click;
            }
        }

        tbody tr td button {
            .unstyled-button(#000000);

            &:hover {
                cursor: pointer;
            }

            &:active {
                .icon-click;
            }
        }
    }

    &-search form fieldset {
        margin-bottom: 0;
    }

    &-summary {
        margin-top: 4px;
    }

    &-hide {
        display: none;
    }

    &-clickable {
        &:hover {
            cursor: pointer;
        }
    }
}