<thead>
    <tr>
        <th class="content-left">
            <button title="Move selected to trash"><span class="icon-trash"></span></button>
        </th>
        <th class="content-left">From <i ng-class="getCaretDirection('name')" ng-click="toggleSortOrder('name')"></i></th>
        <th class="content-left">Subject <i ng-class="getCaretDirection('subject')" ng-click="toggleSortOrder('subject')"></i></th>
        <th class="content-left">Date <i ng-class="getCaretDirection('date')" ng-click="toggleSortOrder('date')"></i></th>
        <th></th>
    </tr>
</thead>
<tbody mail-table-row>
</tbody>