<div class="svard-mail-content ink-grid">
    <div class="svard-mail-compose">
        <form class="ink-form">
            <fieldset>
                <div class="control-group column-group gutters">
                    <label class="large-20 medium-20 small-20 content-right" for="to">To:</label> 
                    <div class="control large-60 medium-60 small-80">
                        <autocomplete id="to" ng-model="mail.to" contacts="profile.savedContacts"></autocomplete>
                    </div> 
                </div>
                <div class="control-group column-group gutters">
                    <label class="large-20 medium-20 small-20 content-right" for="from">From:</label> 
                    <div class="control large-60 medium-60 small-80">
                        <input type="text" id="from" ng-model="mail.from">
                    </div>
                </div>
                <div class="control-group column-group gutters">
                    <label class="large-20 medium-20 small-20 content-right" for="cc">Cc:</label> 
                    <div class="control large-60 medium-60 small-80">
                        <autocomplete id="to" ng-model="mail.cc" contacts="profile.savedContacts"></autocomplete>
                    </div>
                </div>
                <div class="control-group column-group gutters">
                    <label class="large-20 medium-20 small-20 content-right" for="subject">Subject:</label> 
                    <div class="control large-60 medium-60 small-80">
                        <input type="text" id="subject" ng-model="mail.subject">
                    </div>
                </div>
                <div class="control-group column-group gutters">
                    <label class="large-20 medium-20 small-20 content-right" for="svard-mail-compose-body">Body:</label> 
                    <div class="control large-60 medium-60 small-80">
                        <editable id="svard-mail-compose-body" ng-model="mail.text"></editable>
                        <div class="push-right">
                            <button id="svard-mail-compose-send" class="ink-button blue" ng-click="sendMail()"><i class="icon-envelope-alt"></i> Send</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>