<div class="svard-mail-content ink-grid">
    <div class="svard-mail-compose">
        <form class="ink-form">
            <fieldset>
                <div class="control-group column-group gutters">
                    <label class="large-20 medium-20 small-10 content-right" for="to">To:</label> 
                    <div class="control large-60 medium-60 small-90">
                        <input type="text" id="to">
                    </div>
                </div>
                <div class="control-group column-group gutters">
                    <label class="large-20 medium-20 small-10 content-right" for="from">From:</label> 
                    <div class="control large-60 medium-60 small-90">
                        <input type="text" id="from">
                    </div>
                </div>
                <div class="control-group column-group gutters">
                    <label class="large-20 medium-20 small-10 content-right" for="cc">Cc:</label> 
                    <div class="control large-60 medium-60 small-90">
                        <input type="text" id="cc">
                    </div>
                </div>
                <div class="control-group column-group gutters">
                    <label class="large-20 medium-20 small-10 content-right" for="subject">Subject:</label> 
                    <div class="control large-60 medium-60 small-90">
                        <input type="text" id="subject">
                    </div>
                </div>
                <div class="control-group column-group gutters">
                    <label class="large-20 medium-20 small-10 content-right" for="body">Body:</label> 
                    <div class="control large-60 medium-60 small-90">
                        <textarea id="body" rows="20"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>