<div class="svard-mail-content ink-grid">
    <div class="column-group">
        <div class="large-45 small-95 svard-mail-contact" ng-repeat="contact in contacts" ng-controller="ContactCtrl">
            <div class="column-group">
                <div class="svard-mail-contact-photo large-20 medium-20 small-20">
                    <i class="icon-user icon-large"></i>
                </div>
                <div class="svard-mail-contact-info large-75 medium-75 small-75">
                    <form class="ink-form">
                        <fieldset>
                            <div class="control-group">
                                <label for="text-input">Name</label> 
                                <div class="control">
                                    <input id="text-input" type="text" ng-model="contact.name">
                                </div>
                                <label for="text-input">Mail address</label> 
                                <div class="control">
                                    <input id="text-input" type="text" ng-model="contact.address">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="svard-mail-contact-action large-5 medium-5 small-5">
                    <div class="ink-dropdown">
                        <i ng-if="actionMenuVisible" class="icon-caret-up" class ng-click="toggleActionMenu()"></i>
                        <i ng-if="!actionMenuVisible" class="icon-caret-down" class ng-click="toggleActionMenu()"></i>
                        <ul class="dropdown-menu" ng-style="actionMenuStyle">
                            <li><a>Save</a></li>
                            <li><a ng-click="deleteContact($index)">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column-group gutters">
        <div class="large-100 medium-100 small-100">
            <div class="push-right">
                <button class="ink-button blue" ng-click="addContact()"><i class="icon-plus"></i> Add</button>
            </div>
        </div>
    </div>
</div>