<div class="svard-mail-content ink-grid">
    <div class="column-group gutters">
        <div class="large-100 medium-100 small-100 content-center">
            <header class="large-100 medium-100 small-100">
                <h1>SvardMail</h1>
            </header>
        </div>
    </div>

    <div class="column-group gutters">
        <div class="svard-mail-sidebar large-20 medium-20 small-100">
            <nav class="ink-navigation">
                <ul class="menu vertical shadowed blue">
                    <li class="active"><a href="#">Inbox</a></li>
                    <li><a href="#">Sent</a></li>
                    <li><a href="#">Trash</a></li>
                </ul>
            </nav>
        </div>
        <div class="svard-mail-table large-80 medium-80 small-100">
            <div class="column-group gutters">
                <div class="svard-mail-summary large-70 medium-60 small-60">
                    <p>You have<span class="ink-badge red">20</span> unread mails out of<span class="ink-badge blue">500</span></p>
                </div>
                <div class="svard-mail-search large-30 medium-40 small-40">
                    <form class="ink-form">
                        <fieldset>
                            <div class="control-group">
                                <div class="control append-button">
                                    <span><input type="text" placeholder="Search mail"></span>
                                    <button class="ink-button"><i class="icon-search"></i></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <table class="ink-table">
                <thead>
                    <tr>
                        <th class="content-left">
                            <button title="Move selected to trash"><span class="icon-trash"></span></button>
                        </th>
                        <th class="content-left">From <i class="icon-caret-down"></i></th>
                        <th class="content-left">Subject <i class="icon-caret-down"></i></th>
                        <th class="content-left">Date <i class="icon-caret-down"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="svard-mail-unread">
                        <td><input type="checkbox" /></td>
                        <td>Annie Huang</td>
                        <td>Happy Anniversary</td>
                        <td>2013-08-07</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Kristofer Svärd</td>
                        <td>Testing my mail</td>
                        <td>2013-08-05</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>